Repository sophiabrandt/stromberg: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm exec nx run-many --all --target=lint, pnpm exec nx format:write

.lintstagedrc.json:

{
  "*.{ts,js}": ["pnpm exec nx run-many --all --target=lint", "pnpm exec nx format:write"],
  "*.{html,css,json,md}": "pnpm exec nx format:write"
}

fix: remove superfluous OnPush CD
  apps/dashboard/src/app/app.component.ts
  apps/dashboard/src/app/episodes/episodes.component.ts
  apps/dashboard/src/app/home/home.component.ts
Due: pnpm exec nx run-many --all --target=lint, pnpm exec nx format:write

style: minor tweaks
  .lintstagedrc.json.orig
  apps/dashboard/src/app/episodes/episodes.component.ts
  libs/episodes/src/lib/services/data/default-episodes-data.service.ts
Due: pnpm exec nx run-many --all --target=lint, pnpm exec nx format:write

refactor: standalone components
  apps/dashboard/src/app/app.component.ts
  apps/dashboard/src/app/app.module.ts
  apps/dashboard/src/app/episodes/episodes.component.spec.ts
  apps/dashboard/src/app/episodes/episodes.component.ts
  apps/dashboard/src/app/episodes/ui/episode-detail/episode-detail.component.css
  apps/dashboard/src/app/episodes/ui/episode-detail/episode-detail.component.html
  apps/dashboard/src/app/episodes/ui/episode-detail/episode-detail.component.spec.ts
  apps/dashboard/src/app/episodes/ui/episode-detail/episode-detail.component.ts
  apps/dashboard/src/app/episodes/ui/episodes-list/episodes-list.component.css
  apps/dashboard/src/app/episodes/ui/episodes-list/episodes-list.component.html
  apps/dashboard/src/app/episodes/ui/episodes-list/episodes-list.component.spec.ts
  apps/dashboard/src/app/episodes/ui/episodes-list/episodes-list.component.ts
  apps/dashboard/src/app/home/home.component.spec.ts
  apps/dashboard/src/app/home/home.component.ts
  apps/dashboard/src/app/shared/interceptors/api-interceptor.ts
  apps/dashboard/src/main.ts
Due: pnpm exec nx run-many --all --target=lint, pnpm exec nx format:write

chore: hoist npmrc
  .npmrc
Due: none

chore: pnpm node-gyp
  package.json
  pnpm-lock.yaml
Due: pnpm exec nx format:write
